.Home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
}

.Searcher {
    background: antiquewhite;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Title {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: monospace;
    cursor: default;
}

@media screen and (min-width: 37.5rem) {
    .Title {
        font-size: 1.75rem;
    }

    .Searcher {
        flex-direction: row;
    }
}

@media screen and (min-width: 60rem) {
    .Title {
        font-size: 2rem;
    }
}
